:root {
    --background_color: white;
    --background_color_light: white;
    --high_emphasize_text_color: rgba(51, 51, 51, 0.87);
    --medium_emphasize_text_color: rgba(51, 51, 51, 0.6);
    --main_color: #1a91da;
    --main_color_light: #1a90da99;
    --mdc-theme-primary: var(--main_color);
    --mdc-theme-secondary: var(--main_color);
    --mdc-theme-text-primary-on-background: var(--high_emphasize_text_color);
    --mdc-icon-font: "Material Icons Outlined";
}

@media (prefers-color-scheme: dark) {
    :root {
        --background_color: #121212;
        --background_color_light: #2c2c2c;
        --high_emphasize_text_color: rgba(255, 255, 255, 0.87);
        --medium_emphasize_text_color: rgba(255, 255, 255, 0.6);
    }
}
