@use "sass:string";

@import "../common/reset";
@import "../common/css_variables";
@import "../common/tooltip";

$header_z_index: 1;

html,
body {
    background: var(--background_color);
}

body {
    padding: 0 1.5em;
}

mwc-top-app-bar-fixed {
    --mdc-theme-primary: var(--background_color_light);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $header_z_index;

    #extension_name {
        font-size: 1.5rem;
        text-decoration: inherit;
        font-family: inherit;
        color: inherit;
    }
}

main {
    margin-top: 7em;
    max-width: 40em;
    margin-left: string.unquote("calc((100% - min(100%, 40em)) / 2)");
    padding-bottom: 5em;
}

h1 {
    font-size: 1.7rem;
}

mwc-icon {
    user-select: none;
}

h2 {
    mwc-icon {
        margin-right: 0.5em;
        vertical-align: sub;
    }

    span,
    mwc-icon {
        font-size: 1.5rem;
    }
}

h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

mwc-drawer {
    --mdc-theme-surface: var(--background_color_light);
    --mdc-drawer-width: auto;
}

#menu_close_button {
    vertical-align: bottom;
}

.menu_item {
    cursor: pointer;
    position: relative;
    padding: 1.25rem 2rem;

    mwc-ripple {
        --mdc-ripple-color: var(--high_emphasize_text_color);
    }

    mwc-icon {
        margin-right: 0.5em;
    }
}

#menu {
    z-index: $header_z_index;

    hr {
        background: var(--medium_emphasize_text_color);
        width: calc(100% - 2rem);
        height: 0.1rem;
        border: none;
        margin: auto;
    }

    a mwc-icon {
        font-size: 1em;
        vertical-align: middle;
        margin-left: 0.25em;
    }
}

#menu_item_outer {
    margin-top: 2rem;

    a {
        text-decoration: none;
    }
}

p {
    margin-top: 1rem;
}

ul {
    padding-left: 2rem;
}

.setting_card {
    margin-top: 3rem;
    background: rgb(44, 44, 44);
    padding: 1.5em;
    border-radius: 0.5em;
    border: solid rgba(125, 125, 125, 0.25) 0.05rem;
    transition: 0.3s;

    &:hover {
        border-color: transparent;
        box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.25), -0.1rem -0.1rem 0.2rem rgba(0, 0, 0, 0.05);
    }
}

mwc-formfield {
    display: block;
}

mwc-textarea {
    --mdc-text-field-ink-color: var(--high_emphasize_text_color);
    --mdc-text-field-outlined-idle-border-color: var(--medium_emphasize_text_color);
    --mdc-text-field-outlined-hover-border-color: var(--medium_emphasize_text_color);
    --mdc-text-field-label-ink-color: var(--medium_emphasize_text_color);
    width: 100%;
    margin-top: 2rem;
}

#filter_list_outer {
    margin-top: 2em;
    min-height: 48px;
    position: relative;

    mwc-list {
        opacity: 0.25;
    }

    &[data-loaded] {
        mwc-list {
            opacity: 1;
        }
    }
}

#filter_loading_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

mwc-list *[divider] {
    border-bottom-color: var(--medium_emphasize_text_color);
}

mwc-check-list-item {
    --mdc-ripple-color: var(--high_emphasize_text_color);
    --mdc-checkbox-unchecked-color: var(--high_emphasize_text_color);
}

mwc-button {
    --mdc-button-outline-color: var(--main_color_light);
    margin-top: 2em;
}

#save_button,
#import_button,
#advanced_setting_reset_button {
    width: 100%;
}

#setting_import {
    .drop_area {
        --highlight_color: var(--main_color);

        display: none;
        border: 0.1rem solid var(--highlight_color);
        border-radius: 0.5em;
        min-height: 10rem;
        margin-top: 2em;
        animation: none;
        user-select: none;

        &-text {
            color: var(--main_color);
        }

        &-icon {
            font-size: 5rem;
            color: var(--highlight_color);
            margin: 1rem 0;
        }
    }

    &.setting_card-drag_over {
        .drop_area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: 0.5s linear drop_area_animation alternate infinite;
        }

        #import_button {
            display: none;
        }
    }
}

@keyframes drop_area_animation {
    from {
        border-color: var(--highlight_color);
    }
    to {
        border-color: transparent;
    }
}

mwc-dialog {
    --mdc-theme-surface: var(--background_color_light);

    mwc-button {
        margin: 0.5em;
    }
}
