:root {
    --body_padding_top: 3rem;
    --font_color_white: rgba(255, 255, 255, 0.87);
    --font_color_black: rgba(0, 0, 0, 0.87);
    --main_font_color: var(--font_color_black);
    --main_background: white;
    --sub_background: #eeeeee;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main_font_color: var(--font_color_white);
        --main_background: #121212;
        --sub_background: #333333;
    }
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
        url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
        url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material_icon {
    font-family: "Material Icons", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    box-sizing: border-box;
    color: var(--main_font_color);
}

html,
body {
    width: 100vw;
    background: white;
    font-size: 18px;
    overflow-x: hidden;
}

body {
    padding-top: var(--body_padding_top);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem;
    background: #444444;
    box-shadow: 0.1rem 0.1rem 1rem black;
    z-index: 1;
}

#header_logo {
    width: 2.5rem;
}

#header_title {
    color: var(--font_color_white);
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 1rem;
    vertical-align: top;
}

#top_section {
    background: #333333;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    min-height: calc(100vh - var(--body_padding_top));
}

#top_section_image {
    width: min(50vw, 50vh);
    margin: auto;
}

#top_section p {
    display: inline-block;
    color: var(--font_color_white);
    flex-grow: 1;
    min-width: 10rem;
    max-width: 30rem;
    margin: auto;
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 200%;
}

#top_section download-button {
    margin-top: 1rem;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#summary_section {
    background: white;
    color: var(--main_font_color);
}

.normal_section {
    background: var(--main_background);
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 50vh;
}

.normal_section:nth-child(even) {
    background: var(--sub_background);
}

.normal_section_text {
    margin: auto;
    min-width: 10rem;
    max-width: 50vw;
}

.normal_section_icon {
    margin: auto;
}

deformed-tweet {
    min-width: 50vmin;
}

.normal_section .material_icon {
    font-size: 10rem;
}

footer {
    background: #333333;
    color: rgba(255, 255, 255, 0.87);
    padding: 3rem;
    padding-bottom: 6rem;
    text-align: center;
}

#footer_link_outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

#footer_link_outer a {
    color: rgba(255, 255, 255, 0.87);
    display: inline-block;
    padding: 0.5rem 2rem;
}
