@import "sanitize-css/_assets";
@import "sanitize-css/_forms";
@import "sanitize-css/_reduce-motion";
@import "sanitize-css/_sanitize";
@import "sanitize-css/_system-ui";
@import "sanitize-css/_typography";
@import "sanitize-css/_ui-monospace";

html,
body {
    background: var(--background_color);
}

* {
    color: var(--high_emphasize_text_color);
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
