@import "_reset";
@import "_css_variables";

$header_z_index: 1;

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
        url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
        url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material_icon {
    font-family: "Material Icons", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    vertical-align: text-top;
}

html,
body {
    background: var(--background_color);
}

html {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

body {
    box-sizing: border-box;
    max-width: 40rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background_color);
    margin: 0;
    width: 100vw;
    padding: 1.25rem 1.5rem;
    font-size: 1.5rem;
    box-shadow: 0.1rem 0.1rem 1rem black;
    z-index: $header_z_index;
}

header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.2;
    top: 0;
    left: 0;
    pointer-events: none;
}

#menu_open_button {
    cursor: pointer;
    margin-right: 1rem;
    vertical-align: middle;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.3;
    display: none;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background_color);
    height: 100vh;
    min-width: 15vw;
    transition: 0.3s;
    transform: translate(-100%);
    box-shadow: none;
    z-index: $header_z_index;
}

#menu hr {
    background: var(--medium_emphasize_text_color);
    width: calc(100% - 2rem);
    height: 0.1rem;
    border: none;
    margin: auto;
}

#menu a .material_icon {
    font-size: 1em;
    vertical-align: middle;
    margin-left: 0.25em;
}

#menu[data-open] {
    transform: none;
    box-shadow: 0.1rem 0.1rem 1rem black;
}

#menu::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.3;
    top: 0;
    left: 0;
    pointer-events: none;
}

#menu_close_button {
    cursor: pointer;
    margin: 1.25rem 1.5rem;
}

#menu_item_outer {
    margin-top: 2rem;
}

#menu_item_outer a {
    text-decoration: none;
}

.menu_item {
    cursor: pointer;
    position: relative;
    padding: 1.25rem 2rem;
}

.menu_item:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--high_emphasize_text_color);
    opacity: 0.1;
}

p {
    margin-top: 1rem;
}

ul {
    padding-left: 2rem;
}

mwc-formfield {
    display: block;
}

mwc-checkbox {
    --mdc-checkbox-unchecked-color: var(--high_emphasize_text_color);
}

mwc-textarea {
    --mdc-text-field-ink-color: var(--high_emphasize_text_color);
    --mdc-text-field-outlined-idle-border-color: var(--medium_emphasize_text_color);
    --mdc-text-field-outlined-hover-border-color: var(--medium_emphasize_text_color);
    --mdc-text-field-label-ink-color: var(--medium_emphasize_text_color);
    width: 100%;
    margin-top: 1.5rem;
}
