@import "_reset";
@import "_css_variables";

$header_z_index: 1;

html,
body {
    background: var(--background_color);
}

body {
    padding: 0 1.5em;
}

mwc-top-app-bar-fixed {
    --mdc-theme-primary: var(--background_color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $header_z_index;

    div[slot="title"] {
        font-size: 1.25em;
    }
}

main {
    margin-top: 7em;
    max-width: 40em;
    margin-left: calc((100% - min(100%, 40em)) / 2);
    padding-bottom: 5em;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 0;

    mwc-icon {
        margin-right: 0.5em;
        vertical-align: sub;
    }

    span,
    mwc-icon {
        font-size: 1.5rem;
    }
}

h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

mwc-drawer {
    --mdc-theme-surface: var(--background_color);
}

#menu_close_button {
    vertical-align: bottom;
}

.menu_item {
    cursor: pointer;
    position: relative;
    padding: 1.25rem 2rem;

    mwc-ripple {
        --mdc-ripple-color: var(--high_emphasize_text_color);
    }

    mwc-icon {
        margin-right: 0.5em;
    }
}

#menu {
    z-index: $header_z_index;

    hr {
        background: var(--medium_emphasize_text_color);
        width: calc(100% - 2rem);
        height: 0.1rem;
        border: none;
        margin: auto;
    }

    a mwc-icon {
        font-size: 1em;
        vertical-align: middle;
        margin-left: 0.25em;
    }
}

#menu_item_outer {
    margin-top: 2rem;

    a {
        text-decoration: none;
    }
}

p {
    margin-top: 1rem;
}

ul {
    padding-left: 2rem;
}

mwc-formfield {
    display: block;
}

mwc-textarea {
    --mdc-text-field-ink-color: var(--high_emphasize_text_color);
    --mdc-text-field-outlined-idle-border-color: var(--medium_emphasize_text_color);
    --mdc-text-field-outlined-hover-border-color: var(--medium_emphasize_text_color);
    --mdc-text-field-label-ink-color: var(--medium_emphasize_text_color);
    width: 100%;
    margin-top: 1.5rem;
}

#filter_list_outer {
    margin-top: 1em;
    position: relative;

    mwc-list {
        opacity: 0.25;
    }

    &[data-loaded] {
        mwc-list {
            opacity: 1;
        }
    }
}

#filter_loading_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

mwc-list *[divider] {
    border-bottom-color: var(--medium_emphasize_text_color);
}

mwc-check-list-item {
    --mdc-ripple-color: var(--high_emphasize_text_color);
    --mdc-checkbox-unchecked-color: var(--high_emphasize_text_color);
}
